<div layout="column" layout-padding ng-cloak id="home-page">
  <md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Text</label>
      <input ng-model="search.text" type="text">
    </md-input-container>
    <md-button class="md-raised" ng-click="launchSearch()">Search</md-button>
    <md-button class="md-raised" ng-click="resetSearch()">Reset</md-button>
  </md-content>

  <md-list>
    <md-subheader class="md-no-sticky">Results</md-subheader>
    <md-list-item ng-repeat="result in results" class="noright">
      <p>{{ result.title }}</p>

      <md-icon class="md-secondary"
        ng-class="{'icon-active': result.isSaved}"
        ng-click="saveOrUnsaveTorrent(result.magnet, result.title, result.isSaved)"
        aria-label="Save" title="Save">
        save
      </md-icon>

      <md-icon class="md-secondary"
        ng-click="launchInWebTorrent(result.magnet, result.title)"
        aria-label="Launch in WebTorrent" title="Launch in WebTorrent">
        play_arrow
      </md-icon>

      <md-icon class="md-secondary material-icons"
        ng-click="openMagnet(result.magnet, result.title)"
        aria-label="Open" title="Open">
        open_in_new
      </md-icon>

      <md-icon class="md-secondary"
        ng-click="copyToClipboard(result.magnet)"
        aria-label="Copy Magnet URL To Clipboard" title="Copy Magnet URL To Clipboard">
        content_copy
      </md-icon>
    </md-list-item>
  </md-list>

  <div layout="row" layout-sm="column" layout-align="space-around" ng-show="loading">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
  </div>

  <md-content class="md-no-momentum">
    <md-button class="md-raised" ng-click="loadMore()" ng-show="hasMorePages()">Load more (there are {{ totalPages - currentPage }} pages)</md-button>
  </md-content>

  <md-list>
    <md-subheader class="md-no-sticky">Saved torrents</md-subheader>
    <md-list-item ng-repeat="torrent in savedTorrents" class="noright">
      <p>{{ torrent.title }}</p>

      <md-icon class="md-secondary"
        ng-click="launchInWebTorrent(torrent.magnet, torrent.title)"
        aria-label="Launch in WebTorrent" title="Launch in WebTorrent">
        play_arrow
      </md-icon>

      <md-icon class="md-secondary material-icons"
        ng-click="openMagnet(torrent.magnet, torrent.title)"
        aria-label="Open" title="Open">
        open_in_new
      </md-icon>

      <md-icon class="md-secondary"
        ng-click="copyToClipboard(torrent.magnet)"
        aria-label="Copy Magnet URL To Clipboard" title="Copy Magnet URL To Clipboard">
        content_copy
      </md-icon>

      <md-icon class="md-secondary"
        ng-click="removeTorrent(torrent.magnet)"
        aria-label="Remove" title="Remove">
        delete
      </md-icon>
    </md-list-item>
  </md-list>
</div>
