<div layout="column" layout-padding ng-cloak>
  <md-content class="md-no-momentum">
    <md-input-container class="md-icon-float md-block">
      <!-- Use floating label instead of placeholder -->
      <label>Text</label>
      <input ng-model="search.text" type="text">
    </md-input-container>
    <md-button class="md-raised" ng-click="launchSearch()">Search</md-button>
    <md-button class="md-raised" ng-click="resetSearch()">Reset</md-button>
  </md-content>

  <md-list>
    <md-subheader class="md-no-sticky">Results</md-subheader>
    <md-list-item ng-repeat="result in results" class="noright">
      <p>{{ result.title }}</p>
      <md-checkbox class="md-secondary"></md-checkbox>

      <md-icon class="md-secondary"
        ng-click="doSecondaryAction($event)"
        aria-label="Watch in WebTorrent" title="Watch in WebTorrent">
        play_arrow
      </md-icon>

      <md-icon class="md-secondary material-icons"
        ng-click="openMagnet(result.magnet)"
        aria-label="Open" title="Open">
        open_in_new
      </md-icon>
    </md-list-item>
  </md-list>

  <md-content class="md-no-momentum">
    <md-button class="md-raised" ng-click="loadMore()" ng-show="hasMorePages()">Load more (there are {{ totalPages - currentPage }} pages)</md-button>
  </md-content>
</div>
